.ace_editor {
  height: 100%;
}

#editor-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
}

#preview-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 67%;
  height: 100%;
}