.basic {
  height: 100%;
  background-color: #eee;
  
  .block {
    position: relative;
    top: 5px;
    margin: 0 5px 5px 0;
    padding: 5px 20px;
    border-left: 3px solid red;
    background-color: #fff;
  }
  
  .block-footer {
    color: #ccc;
    text-align: right;
  }
}